---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Quản lý" description="Điều hướng trang quản lý">
  <div class="text-center mt-20 text-purple-800">
    <a href="/dashboard/product-manage" class="title">#quản lý sản phẩm</a>
    <br />
    <a href="/dashboard/order" class="title">#quản lý đơn hàng</a>
  </div>
</Layout>
<script>
  // Hàm kiểm tra token
  function checkToken() {
    const token = localStorage.getItem("token");
    const adminToken = import.meta.env.PUBLIC_ADMIN_TOKEN;
    if (token !== adminToken) {
      window.location.href = "/";
    }
  }
  checkToken();
</script>
