<footer class="flex-col text-center mt-auto py-4">
  <small>
    Copyright &copy; <span id="copyright"></span> | All rights reversed <br />
     Contact: <a href="mailto:0911kiet@gmail.com">0911kiet@gmail.com</a>
  </small>
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
